#button-id-102- { min-height: 18px; margin: unset; border-radius: 4px; background-color: rgba(255, 255, 255, 0); width: auto; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-weight: 600; font-style: normal; padding: 8px 0px; line-height: 16px; font-size: 16px; letter-spacing: -0.4px; color: rgb(0, 0, 0); }

#button-id-102-:active, #button-id-102-.active { color: rgb(0, 0, 0) !important; }

#button-id-102-:hover, #button-id-102-.hover { color: rgba(0, 0, 0, 0.7); }

#button-id-104- { margin: unset; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-weight: 600; min-height: 16px; width: auto; letter-spacing: 0px; line-height: 16px; font-size: 16px; border-radius: 100px; padding: 15px 28px; color: rgb(255, 255, 255); background-color: rgb(0, 0, 0); }

#button-id-104-:active, #button-id-104-.active { color: rgb(255, 255, 255) !important; background-color: rgb(0, 0, 0) !important; }

#button-id-104-:hover, #button-id-104-.hover { color: rgba(255, 255, 255, 0.7); background-color: rgba(0, 0, 0, 0.7); }

#button-id-154- { margin: unset; font-size: 16px; border-radius: 4px; background-color: rgba(255, 255, 255, 0); min-height: 18px; font-weight: 500; font-style: normal; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; color: rgb(146, 146, 146); left: 134px; top: 977px; }

#button-id-154-:active, #button-id-154-.active { color: rgb(255, 255, 255) !important; }

#button-id-154-:hover, #button-id-154-.hover { color: rgb(255, 255, 255); }

#button-id-159- { margin: unset; font-size: 16px; border-radius: 4px; background-color: rgba(255, 255, 255, 0); min-height: 18px; font-weight: 500; font-style: normal; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; color: rgb(146, 146, 146); }

#button-id-159-:active, #button-id-159-.active { color: rgb(255, 255, 255) !important; }

#button-id-159-:hover, #button-id-159-.hover { color: rgb(255, 255, 255); }

#button-id-164- { margin: unset; font-size: 16px; border-radius: 4px; background-color: rgba(255, 255, 255, 0); min-height: 18px; font-weight: 500; font-style: normal; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; color: rgb(146, 146, 146); }

#button-id-164-:active, #button-id-164-.active { color: rgb(255, 255, 255) !important; }

#button-id-164-:hover, #button-id-164-.hover { color: rgb(255, 255, 255); }

#button-id-166- { margin: unset; font-size: 16px; border-radius: 4px; background-color: rgba(255, 255, 255, 0); min-height: 18px; font-weight: 500; font-style: normal; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; color: rgb(146, 146, 146); }

#button-id-166-:active, #button-id-166-.active { color: rgb(255, 255, 255) !important; }

#button-id-166-:hover, #button-id-166-.hover { color: rgb(255, 255, 255); }

#button-id-32- { min-height: 18px; margin: unset; border-radius: 4px; background-color: rgba(255, 255, 255, 0); width: auto; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-weight: 600; font-style: normal; padding: 8px 0px; line-height: 16px; font-size: 16px; letter-spacing: -0.4px; color: rgb(0, 0, 0); }

#button-id-32-:active, #button-id-32-.active { color: rgb(0, 0, 0) !important; }

#button-id-32-:hover, #button-id-32-.hover { color: rgba(0, 0, 0, 0.7); }

#button-id-7- { margin: unset; border-radius: 6px; font-size: 15px; line-height: 17px; min-height: 40px; background-color: rgb(0, 0, 0); color: rgb(255, 255, 255); width: 88px; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; }

#button-id-7-:active, #button-id-7-.active { background-color: rgb(0, 0, 0) !important; color: rgb(255, 255, 255) !important; }

#button-id-7-:hover, #button-id-7-.hover { background-color: rgba(0, 0, 0, 0.7); color: rgba(255, 255, 255, 0.7); }

#container-id-149- { align-items: flex-start; justify-content: flex-start; background-color: rgba(0, 0, 0, 0); padding: 130px 80px; flex-direction: column; }

#container-id-149- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 64px !important; }

#container-id-149- > :last-child, #container-id-149- > .last-child { margin-bottom: 0px !important; }

#container-id-150- { margin: unset; justify-content: space-between; width: 100%; background-color: rgba(238, 238, 238, 0); min-height: auto; left: 0px; top: 988px; flex-direction: row; }

#container-id-150- > * { max-width: 100%; }

#container-id-151- { margin: unset; background-color: rgba(238, 238, 238, 0); align-items: flex-start; justify-content: flex-start; width: 120px; min-height: auto; flex-direction: column; }

#container-id-151- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 24px !important; }

#container-id-151- > :last-child, #container-id-151- > .last-child { margin-bottom: 0px !important; }

#container-id-153- { margin: unset; background-color: rgba(238, 238, 238, 0); width: 100%; align-items: flex-start; justify-content: flex-start; min-height: auto; left: 0px; top: 908px; flex-direction: column; }

#container-id-153- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 16px !important; }

#container-id-153- > :last-child, #container-id-153- > .last-child { margin-bottom: 0px !important; }

#container-id-156- { margin: unset; background-color: rgba(238, 238, 238, 0); align-items: flex-start; justify-content: flex-start; width: 120px; min-height: auto; left: 413px; top: 1247px; flex-direction: column; }

#container-id-156- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 24px !important; }

#container-id-156- > :last-child, #container-id-156- > .last-child { margin-bottom: 0px !important; }

#container-id-158- { margin: unset; background-color: rgba(238, 238, 238, 0); align-items: flex-start; justify-content: flex-start; width: unset; min-height: auto; left: 0px; top: 908px; flex-direction: column; }

#container-id-158- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 16px !important; }

#container-id-158- > :last-child, #container-id-158- > .last-child { margin-bottom: 0px !important; }

#container-id-161- { margin: unset; background-color: rgba(238, 238, 238, 0); align-items: flex-start; justify-content: flex-start; width: 120px; min-height: auto; flex-direction: column; }

#container-id-161- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 24px !important; }

#container-id-161- > :last-child, #container-id-161- > .last-child { margin-bottom: 0px !important; }

#container-id-163- { margin: unset; background-color: rgba(238, 238, 238, 0); align-items: flex-start; justify-content: flex-start; width: unset; min-height: auto; left: 0px; top: 908px; flex-direction: column; }

#container-id-163- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 16px !important; }

#container-id-163- > :last-child, #container-id-163- > .last-child { margin-bottom: 0px !important; }

#container-id-338- { min-height: 100px; margin: unset; background-color: rgb(238, 238, 238);
  width: 100%; justify-content: center; }

#container-id-356- { padding: 64px; gap: 12px; flex-direction: column; justify-content: flex-start; align-items: center; }

#container-id-356- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 12px !important; }

#container-id-356- > :last-child, #container-id-356- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-96- { align-items: center; padding: 0px 80px; justify-content: space-between; flex-direction: row; background-color: rgba(0, 0, 0, 0); }

#container-id-96- > * { max-width: 100%; margin-right: 48px !important; margin-bottom: 0px !important; }

#container-id-96- > :last-child, #container-id-96- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-99- { min-height: 34px; margin: unset; background-color: rgba(238, 238, 238, 0); align-items: center; justify-content: flex-end; width: auto; flex-direction: row; }

#container-id-99- > * { max-width: 100%; margin-right: 48px !important; margin-bottom: 0px !important; }

#container-id-99- > :last-child, #container-id-99- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#content-container { flex-direction: column; align-items: flex-start; justify-content: flex-start; }

#content-container > * { max-width: 100%; margin-right: 0px !important; }

#content-container > :last-child, #content-container > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#element-id-370- { font-style: normal; font-weight: 600; }

#element-id-98- { width: 100%; }

#form-id-361- { margin: unset; background-color: rgb(221, 221, 221); min-height: auto; background-repeat: no-repeat; background-size: cover; border-radius: 100px; }

#image-id-97- { margin: unset; top: -50px; background-color: rgba(221, 221, 221, 0); min-height: auto; width: 129.6px; }

#input-id-357- { margin: unset; border: 1px solid rgb(204, 204, 204); border-radius: 6px; padding: 0px 12px; font-size: 14px; line-height: 16px; min-height: 40px; width: 320px; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; }

#input-id-357-:focus, #input-id-357-.focus { border-color: rgb(1, 122, 255) !important; }

#input-id-380- { margin: unset; border: 1px solid rgb(204, 204, 204); border-radius: 6px; padding: 0px 12px; font-size: 14px; line-height: 16px; min-height: 40px; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; width: 324px; }

#input-id-380-:focus, #input-id-380-.focus { border-color: rgb(1, 122, 255) !important; }

#input-id-381- { margin: unset; border: 1px solid rgb(204, 204, 204); border-radius: 6px; padding: 0px 12px; font-size: 14px; line-height: 16px; min-height: 40px; width: 320px; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; }

#input-id-381-:focus, #input-id-381-.focus { border-color: rgb(1, 122, 255) !important; }

#input-id-382- { margin: unset; border: 1px solid rgb(204, 204, 204); border-radius: 6px; padding: 0px 12px; font-size: 14px; line-height: 16px; min-height: 40px; width: 320px; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; }

#input-id-382-:focus, #input-id-382-.focus { border-color: rgb(1, 122, 255) !important; }

#input-id-383- { margin: unset; border: 1px solid rgb(204, 204, 204); border-radius: 6px; padding: 0px 12px; font-size: 14px; line-height: 16px; min-height: 40px; width: 320px; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; }

#input-id-383-:focus, #input-id-383-.focus { border-color: rgb(1, 122, 255) !important; }

#input-id-385- { margin: unset; border: 1px solid rgb(204, 204, 204); border-radius: 6px; padding: 0px 12px; font-size: 14px; line-height: 16px; min-height: 40px; width: 320px; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; }

#input-id-385-:focus, #input-id-385-.focus { border-color: rgb(1, 122, 255) !important; }

#input-id-386- { margin: unset; border: 1px solid rgb(204, 204, 204); border-radius: 6px; padding: 0px 12px; font-size: 14px; line-height: 16px; min-height: 40px; width: 320px; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; }

#input-id-386-:focus, #input-id-386-.focus { border-color: rgb(1, 122, 255) !important; }

#input-id-387- { margin: unset; border: 1px solid rgb(204, 204, 204); border-radius: 6px; padding: 0px 12px; font-size: 14px; line-height: 16px; min-height: 40px; width: 320px; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; }

#input-id-387-:focus, #input-id-387-.focus { border-color: rgb(1, 122, 255) !important; }

#input-id-389- { margin: unset; border: 1px solid rgb(204, 204, 204); border-radius: 6px; padding: 0px 12px; font-size: 14px; line-height: 16px; min-height: 40px; width: 320px; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; }

#input-id-389-:focus, #input-id-389-.focus { border-color: rgb(1, 122, 255) !important; }

#menu-id-106- { margin: unset; width: 100%; min-height: 88px; background-color: rgb(255, 255, 255); }

#menu-id-106- > * { max-width: 1320px; }

#root-container { background-position: center center; }

#section-id-169- { margin: unset; min-height: 280px; background-color: rgb(24, 24, 24);
  width: 100%; }

#section-id-169- > * { max-width: 1320px; }

#text-id-152- { margin: unset; background-color: rgba(0, 0, 0, 0); left: 165px; top: 880px; color: rgb(255, 255, 255); font-weight: 600; font-style: normal; }

#text-id-157- { margin: unset; background-color: rgba(0, 0, 0, 0); left: 165px; top: 880px; color: rgb(255, 255, 255); font-weight: 600; font-style: normal; }

#text-id-162- { margin: unset; background-color: rgba(0, 0, 0, 0); left: 165px; top: 880px; color: rgb(255, 255, 255); font-weight: 600; font-style: normal; }

#text-id-168- { margin: unset; background-color: rgba(0, 0, 0, 0); font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; color: rgb(146, 146, 146); letter-spacing: 0px; line-height: 15.75px; font-size: 14px; font-weight: 500; font-style: normal; }

#text-id-369- { margin: unset; background-color: rgba(0, 0, 0, 0); }

#container-id-338- { background-image: url("../img/-project-image-1.png"); }

@media (min-width:1025px) {#content-container { display: flex; }

#form-id-361- { min-height: auto; height: fit-content; background-position: center center; }}

@media (min-width:641px) and (max-width:1024px) {#button-id-104- { padding: 16px 30px; }

#container-id-149- { padding: 80px 56px; flex-direction: column; }

#container-id-149- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 56px !important; }

#container-id-149- > :last-child, #container-id-149- > .last-child { margin-bottom: 0px !important; }

#container-id-150- { flex-direction: row; }

#container-id-150- > * { max-width: 100%; }

#container-id-151- { flex-direction: column; }

#container-id-151- > * { max-width: 100%; }

#container-id-153- { flex-direction: column; }

#container-id-153- > * { max-width: 100%; }

#container-id-156- { flex-direction: column; }

#container-id-156- > * { max-width: 100%; }

#container-id-158- { flex-direction: column; }

#container-id-158- > * { max-width: 100%; }

#container-id-161- { flex-direction: column; }

#container-id-161- > * { max-width: 100%; }

#container-id-163- { flex-direction: column; }

#container-id-163- > * { max-width: 100%; }

#container-id-96- { padding: 0px 56px; flex-direction: row; }

#container-id-96- > * { max-width: 100%; }

#container-id-99- { width: auto; flex-direction: row; }

#container-id-99- > * { max-width: 100%; margin-right: 40px !important; margin-bottom: 0px !important; }

#container-id-99- > :last-child, #container-id-99- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#content-container { display: flex; flex-direction: column; }

#content-container > * { max-width: 100%; }}

@media (max-width:640px) {#button-id-102- { letter-spacing: -0.4px; line-height: 22px; font-size: 20px; display: none; }

#button-id-104- { min-height: 16px; letter-spacing: 0px; line-height: 15px; font-size: 15px; padding: 16px 30px; }

#button-id-32- { letter-spacing: -0.4px; line-height: 22px; font-size: 20px; display: none; }

#container-id-149- { align-items: center; padding: 80px 24px; flex-direction: column; }

#container-id-149- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 56px !important; }

#container-id-149- > :last-child, #container-id-149- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-150- { justify-content: flex-start; align-items: center; flex-direction: column; }

#container-id-150- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 48px !important; }

#container-id-150- > :last-child, #container-id-150- > .last-child { margin-bottom: 0px !important; }

#container-id-151- { align-items: center; flex-direction: column; }

#container-id-151- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 24px !important; }

#container-id-151- > :last-child, #container-id-151- > .last-child { margin-right: 0px !important; }

#container-id-153- { align-items: center; min-height: auto; flex-direction: column; }

#container-id-153- > * { max-width: 100%; }

#container-id-156- { align-items: center; flex-direction: column; }

#container-id-156- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 24px !important; }

#container-id-156- > :last-child, #container-id-156- > .last-child { margin-right: 0px !important; }

#container-id-158- { align-items: center; flex-direction: column; }

#container-id-158- > * { max-width: 100%; }

#container-id-161- { align-items: center; flex-direction: column; }

#container-id-161- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 24px !important; }

#container-id-161- > :last-child, #container-id-161- > .last-child { margin-right: 0px !important; }

#container-id-163- { align-items: center; flex-direction: column; }

#container-id-163- > * { max-width: 100%; }

#container-id-96- { padding: 0px 28px; flex-direction: row; }

#container-id-96- > * { max-width: 100%; margin-right: 28px !important; margin-bottom: 0px !important; }

#container-id-96- > :last-child, #container-id-96- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-99- { width: auto; flex-direction: row; }

#container-id-99- > * { max-width: 100%; }

#content-container { display: flex; flex-direction: column; }

#content-container > * { max-width: 100%; }

#text-id-168- { letter-spacing: 0px; line-height: 15.75px; font-size: 14px; }}