#button-id-15- { margin: unset; color: rgb(0, 0, 0); font-size: 16px; background-color: rgba(255, 255, 255, 0); min-height: 36px; border-style: solid; border-width: 1px; border-radius: 0px; padding: 5px; }

#button-id-15-:active, #button-id-15-.active { color: rgb(0, 0, 0) !important; }

#button-id-15-:hover, #button-id-15-.hover { color: rgba(0, 0, 0, 0.5); }

#button-id-19- { margin: unset; border-radius: 6px; font-size: 15px; line-height: 17px; min-height: 40px; background-color: rgb(0, 0, 0); color: rgb(255, 255, 255); font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; width: 79px; }

#button-id-19-:active, #button-id-19-.active { background-color: rgb(0, 0, 0) !important; color: rgb(255, 255, 255) !important; }

#button-id-19-:hover, #button-id-19-.hover { background-color: rgba(0, 0, 0, 0.7); color: rgba(255, 255, 255, 0.7); }

#button-id-591- { min-height: 18px; margin: unset; border-radius: 4px; background-color: rgba(255, 255, 255, 0); width: auto; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-weight: 600; font-style: normal; padding: 8px 0px; line-height: 16px; font-size: 16px; letter-spacing: -0.4px; color: rgb(0, 0, 0); }

#button-id-591-:active, #button-id-591-.active { color: rgb(0, 0, 0) !important; }

#button-id-591-:hover, #button-id-591-.hover { color: rgba(0, 0, 0, 0.7); }

#button-id-593- { margin: unset; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-weight: 600; min-height: 16px; width: auto; letter-spacing: 0px; line-height: 16px; font-size: 16px; border-radius: 100px; padding: 15px 28px; color: rgb(255, 255, 255); background-color: rgb(0, 0, 0); }

#button-id-593-:active, #button-id-593-.active { color: rgb(255, 255, 255) !important; background-color: rgb(0, 0, 0) !important; }

#button-id-593-:hover, #button-id-593-.hover { color: rgba(255, 255, 255, 0.7); background-color: rgba(0, 0, 0, 0.7); }

#button-id-684- { margin: unset; font-size: 16px; border-radius: 4px; background-color: rgba(255, 255, 255, 0); min-height: 18px; font-weight: 500; font-style: normal; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; color: rgb(146, 146, 146); left: 134px; top: 977px; }

#button-id-684-:active, #button-id-684-.active { color: rgb(255, 255, 255) !important; }

#button-id-684-:hover, #button-id-684-.hover { color: rgb(255, 255, 255); }

#button-id-689- { margin: unset; font-size: 16px; border-radius: 4px; background-color: rgba(255, 255, 255, 0); min-height: 18px; font-weight: 500; font-style: normal; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; color: rgb(146, 146, 146); }

#button-id-689-:active, #button-id-689-.active { color: rgb(255, 255, 255) !important; }

#button-id-689-:hover, #button-id-689-.hover { color: rgb(255, 255, 255); }

#button-id-694- { margin: unset; font-size: 16px; border-radius: 4px; background-color: rgba(255, 255, 255, 0); min-height: 18px; font-weight: 500; font-style: normal; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; color: rgb(146, 146, 146); }

#button-id-694-:active, #button-id-694-.active { color: rgb(255, 255, 255) !important; }

#button-id-694-:hover, #button-id-694-.hover { color: rgb(255, 255, 255); }

#button-id-696- { margin: unset; font-size: 16px; border-radius: 4px; background-color: rgba(255, 255, 255, 0); min-height: 18px; font-weight: 500; font-style: normal; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; color: rgb(146, 146, 146); }

#button-id-696-:active, #button-id-696-.active { color: rgb(255, 255, 255) !important; }

#button-id-696-:hover, #button-id-696-.hover { color: rgb(255, 255, 255); }

#button-id-811- { min-height: 18px; margin: unset; border-radius: 4px; background-color: rgba(255, 255, 255, 0); width: auto; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-weight: 600; font-style: normal; padding: 8px 0px; line-height: 16px; font-size: 16px; letter-spacing: -0.4px; color: rgb(0, 0, 0); }

#button-id-811-:active, #button-id-811-.active { color: rgb(0, 0, 0) !important; }

#button-id-811-:hover, #button-id-811-.hover { color: rgba(0, 0, 0, 0.7); }

#container-id-585- { align-items: center; padding: 0px 80px; justify-content: space-between; flex-direction: row; background-color: rgba(0, 0, 0, 0); }

#container-id-585- > * { max-width: 100%; margin-right: 48px !important; margin-bottom: 0px !important; }

#container-id-585- > :last-child, #container-id-585- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-588- { min-height: 34px; margin: unset; background-color: rgba(238, 238, 238, 0); align-items: center; justify-content: flex-end; width: auto; flex-direction: row; }

#container-id-588- > * { max-width: 100%; margin-right: 48px !important; margin-bottom: 0px !important; }

#container-id-588- > :last-child, #container-id-588- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-643- { padding: 64px; gap: 12px; flex-direction: column; justify-content: flex-start; align-items: center; }

#container-id-643- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 12px !important; }

#container-id-643- > :last-child, #container-id-643- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-657- { min-height: 100px; margin: unset; background-color: rgb(238, 238, 238);
  width: 100%; justify-content: center; }

#container-id-679- { align-items: flex-start; justify-content: flex-start; background-color: rgba(0, 0, 0, 0); padding: 130px 80px; flex-direction: column; }

#container-id-679- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 64px !important; }

#container-id-679- > :last-child, #container-id-679- > .last-child { margin-bottom: 0px !important; }

#container-id-680- { margin: unset; justify-content: space-between; width: 100%; background-color: rgba(238, 238, 238, 0); min-height: auto; left: 0px; top: 988px; flex-direction: row; }

#container-id-680- > * { max-width: 100%; }

#container-id-681- { margin: unset; background-color: rgba(238, 238, 238, 0); align-items: flex-start; justify-content: flex-start; width: 120px; min-height: auto; flex-direction: column; }

#container-id-681- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 24px !important; }

#container-id-681- > :last-child, #container-id-681- > .last-child { margin-bottom: 0px !important; }

#container-id-683- { margin: unset; background-color: rgba(238, 238, 238, 0); width: 100%; align-items: flex-start; justify-content: flex-start; min-height: auto; left: 0px; top: 908px; flex-direction: column; }

#container-id-683- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 16px !important; }

#container-id-683- > :last-child, #container-id-683- > .last-child { margin-bottom: 0px !important; }

#container-id-686- { margin: unset; background-color: rgba(238, 238, 238, 0); align-items: flex-start; justify-content: flex-start; width: 120px; min-height: auto; left: 413px; top: 1247px; flex-direction: column; }

#container-id-686- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 24px !important; }

#container-id-686- > :last-child, #container-id-686- > .last-child { margin-bottom: 0px !important; }

#container-id-688- { margin: unset; background-color: rgba(238, 238, 238, 0); align-items: flex-start; justify-content: flex-start; width: unset; min-height: auto; left: 0px; top: 908px; flex-direction: column; }

#container-id-688- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 16px !important; }

#container-id-688- > :last-child, #container-id-688- > .last-child { margin-bottom: 0px !important; }

#container-id-691- { margin: unset; background-color: rgba(238, 238, 238, 0); align-items: flex-start; justify-content: flex-start; width: 120px; min-height: auto; flex-direction: column; }

#container-id-691- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 24px !important; }

#container-id-691- > :last-child, #container-id-691- > .last-child { margin-bottom: 0px !important; }

#container-id-693- { margin: unset; background-color: rgba(238, 238, 238, 0); align-items: flex-start; justify-content: flex-start; width: unset; min-height: auto; left: 0px; top: 908px; flex-direction: column; }

#container-id-693- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 16px !important; }

#container-id-693- > :last-child, #container-id-693- > .last-child { margin-bottom: 0px !important; }

#content-container { flex-direction: column; align-items: flex-start; justify-content: flex-start; }

#content-container > * { max-width: 100%; margin-right: 0px !important; }

#content-container > :last-child, #content-container > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#element-id-587- { width: 100%; }

#element-id-645- { font-style: normal; font-weight: 600; }

#form-id-642- { margin: unset; background-color: rgb(221, 221, 221); min-height: auto; background-repeat: no-repeat; background-size: cover; border-radius: 100px; }

#image-id-586- { margin: unset; top: -50px; background-color: rgba(221, 221, 221, 0); min-height: auto; width: 129.6px; }

#input-id-23- { margin: unset; border: 1px solid rgb(204, 204, 204); border-radius: 6px; padding: 0px 12px; font-size: 14px; line-height: 16px; min-height: 40px; width: 320px; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; }

#input-id-23-:focus, #input-id-23-.focus { border-color: rgb(1, 122, 255) !important; }

#input-id-24- { margin: unset; border: 1px solid rgb(204, 204, 204); border-radius: 6px; padding: 0px 12px; font-size: 14px; line-height: 16px; min-height: 40px; width: 320px; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; }

#input-id-24-:focus, #input-id-24-.focus { border-color: rgb(1, 122, 255) !important; }

#input-id-646- { margin: unset; border: 1px solid rgb(204, 204, 204); border-radius: 6px; padding: 0px 12px; font-size: 14px; line-height: 16px; min-height: 40px; width: 320px; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; }

#input-id-646-:focus, #input-id-646-.focus { border-color: rgb(1, 122, 255) !important; }

#input-id-649- { margin: unset; border: 1px solid rgb(204, 204, 204); border-radius: 6px; padding: 0px 12px; font-size: 14px; line-height: 16px; min-height: 40px; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; width: 324px; }

#input-id-649-:focus, #input-id-649-.focus { border-color: rgb(1, 122, 255) !important; }

#input-id-650- { margin: unset; border: 1px solid rgb(204, 204, 204); border-radius: 6px; padding: 0px 12px; font-size: 14px; line-height: 16px; min-height: 40px; width: 320px; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; }

#input-id-650-:focus, #input-id-650-.focus { border-color: rgb(1, 122, 255) !important; }

#input-id-651- { margin: unset; border: 1px solid rgb(204, 204, 204); border-radius: 6px; padding: 0px 12px; font-size: 14px; line-height: 16px; min-height: 40px; width: 320px; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; }

#input-id-651-:focus, #input-id-651-.focus { border-color: rgb(1, 122, 255) !important; }

#input-id-652- { margin: unset; border: 1px solid rgb(204, 204, 204); border-radius: 6px; padding: 0px 12px; font-size: 14px; line-height: 16px; min-height: 40px; width: 320px; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; }

#input-id-652-:focus, #input-id-652-.focus { border-color: rgb(1, 122, 255) !important; }

#input-id-653- { margin: unset; border: 1px solid rgb(204, 204, 204); border-radius: 6px; padding: 0px 12px; font-size: 14px; line-height: 16px; min-height: 40px; width: 320px; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; }

#input-id-653-:focus, #input-id-653-.focus { border-color: rgb(1, 122, 255) !important; }

#menu-id-595- { margin: unset; width: 100%; min-height: 88px; background-color: rgb(255, 255, 255); }

#menu-id-595- > * { max-width: 1320px; }

#root-container { background-position: center center; }

#section-id-699- { margin: unset; min-height: 280px; background-color: rgb(24, 24, 24);
  width: 100%; }

#section-id-699- > * { max-width: 1320px; }

#text-id-644- { margin: unset; background-color: rgba(0, 0, 0, 0); }

#text-id-682- { margin: unset; background-color: rgba(0, 0, 0, 0); left: 165px; top: 880px; color: rgb(255, 255, 255); font-weight: 600; font-style: normal; }

#text-id-687- { margin: unset; background-color: rgba(0, 0, 0, 0); left: 165px; top: 880px; color: rgb(255, 255, 255); font-weight: 600; font-style: normal; }

#text-id-692- { margin: unset; background-color: rgba(0, 0, 0, 0); left: 165px; top: 880px; color: rgb(255, 255, 255); font-weight: 600; font-style: normal; }

#text-id-698- { margin: unset; background-color: rgba(0, 0, 0, 0); font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; color: rgb(146, 146, 146); letter-spacing: 0px; line-height: 15.75px; font-size: 14px; font-weight: 500; font-style: normal; }

[data-item-of="button-id-15-popover"] { font-size: 15px; background-color: rgba(255, 255, 255, 0); padding: 8px 16px; }

[data-item-of="button-id-15-popover"]:active, [data-item-of="button-id-15-popover"].active { background-color: rgba(255, 255, 255, 0); }

[data-item-of="button-id-15-popover"]:hover, [data-item-of="button-id-15-popover"].hover { background-color: rgba(0, 0, 0, 0.1); }

#container-id-657- { background-image: url("../img/-project-image-1.png"); }

@media (min-width:1025px) {#content-container { display: flex; }

#form-id-642- { min-height: auto; height: fit-content; background-position: center center; }}

@media (min-width:641px) and (max-width:1024px) {#button-id-593- { padding: 16px 30px; }

#container-id-585- { padding: 0px 56px; flex-direction: row; }

#container-id-585- > * { max-width: 100%; }

#container-id-588- { width: auto; flex-direction: row; }

#container-id-588- > * { max-width: 100%; margin-right: 40px !important; margin-bottom: 0px !important; }

#container-id-588- > :last-child, #container-id-588- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-679- { padding: 80px 56px; flex-direction: column; }

#container-id-679- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 56px !important; }

#container-id-679- > :last-child, #container-id-679- > .last-child { margin-bottom: 0px !important; }

#container-id-680- { flex-direction: row; }

#container-id-680- > * { max-width: 100%; }

#container-id-681- { flex-direction: column; }

#container-id-681- > * { max-width: 100%; }

#container-id-683- { flex-direction: column; }

#container-id-683- > * { max-width: 100%; }

#container-id-686- { flex-direction: column; }

#container-id-686- > * { max-width: 100%; }

#container-id-688- { flex-direction: column; }

#container-id-688- > * { max-width: 100%; }

#container-id-691- { flex-direction: column; }

#container-id-691- > * { max-width: 100%; }

#container-id-693- { flex-direction: column; }

#container-id-693- > * { max-width: 100%; }

#content-container { display: flex; flex-direction: column; }

#content-container > * { max-width: 100%; }}

@media (max-width:640px) {#button-id-591- { letter-spacing: -0.4px; line-height: 22px; font-size: 20px; display: none; }

#button-id-593- { min-height: 16px; letter-spacing: 0px; line-height: 15px; font-size: 15px; padding: 16px 30px; }

#button-id-811- { letter-spacing: -0.4px; line-height: 22px; font-size: 20px; display: none; }

#container-id-585- { padding: 0px 28px; flex-direction: row; }

#container-id-585- > * { max-width: 100%; margin-right: 28px !important; margin-bottom: 0px !important; }

#container-id-585- > :last-child, #container-id-585- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-588- { width: auto; flex-direction: row; }

#container-id-588- > * { max-width: 100%; }

#container-id-679- { align-items: center; padding: 80px 24px; flex-direction: column; }

#container-id-679- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 56px !important; }

#container-id-679- > :last-child, #container-id-679- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-680- { justify-content: flex-start; align-items: center; flex-direction: column; }

#container-id-680- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 48px !important; }

#container-id-680- > :last-child, #container-id-680- > .last-child { margin-bottom: 0px !important; }

#container-id-681- { align-items: center; flex-direction: column; }

#container-id-681- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 24px !important; }

#container-id-681- > :last-child, #container-id-681- > .last-child { margin-right: 0px !important; }

#container-id-683- { align-items: center; min-height: auto; flex-direction: column; }

#container-id-683- > * { max-width: 100%; }

#container-id-686- { align-items: center; flex-direction: column; }

#container-id-686- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 24px !important; }

#container-id-686- > :last-child, #container-id-686- > .last-child { margin-right: 0px !important; }

#container-id-688- { align-items: center; flex-direction: column; }

#container-id-688- > * { max-width: 100%; }

#container-id-691- { align-items: center; flex-direction: column; }

#container-id-691- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 24px !important; }

#container-id-691- > :last-child, #container-id-691- > .last-child { margin-right: 0px !important; }

#container-id-693- { align-items: center; flex-direction: column; }

#container-id-693- > * { max-width: 100%; }

#content-container { display: flex; flex-direction: column; }

#content-container > * { max-width: 100%; }

#text-id-698- { letter-spacing: 0px; line-height: 15.75px; font-size: 14px; }}